<div class="bounds">
  <div class="upperContent" fxLayout="column" fxFlexFill fxLayoutAlign="" fxLayoutGap="20px">
    <div class="banner" fxFlex="40px" fxFlexOffset="">

    </div>
    <div class="horizontalBar" fxFlex="40px">
      <button mat-button (click)="openDialog()">Open dialog</button>
    </div>
    <div class="horizontalBar" fxFlex="40px">

    </div>
    <div id="content" fxFlex fxLayout.xs="column">
      <div id="pieChartDiv" fxFlex="40" fxFlex.xs="250px">
        <mat-card>
          <app-chart></app-chart>
        </mat-card>
      </div>
      <div id="tableDiv" fxFlex="60" fxFlex.xs="250px">
        <mat-card>
          <app-table></app-table>
        </mat-card>
      </div>
    </div>
  </div>

</div>
