.bounds {
    background-color: #eff3f6;
    height: 100%;
    padding:5px;
}
.banner {
    text-align: center;
    min-height: 80px;
}

.horizontalBar {
    background-color: beige;
    text-align: center;
}

