<div class="bounds">
  <div class="upperContent" fxLayout="column" fxFlexFill fxLayoutAlign="" fxLayoutGap="20px">
    <div class="banner" fxFlex="40px" fxFlexOffset="">
      <h2>Todo Tracker Dashboard</h2>
    </div>
    <div class="horizontalBar" fxFlex="40px" fxLayoutGap="5px" >
      <button mat-raised-button (click)="sendTrue()">Completed Task</button>
      <button mat-raised-button (click)="sendFalse()">Incomplete Task</button>      
      <button mat-raised-button (click)="viewAll()">View All</button>
    </div>
    <div class="horizontalBar" fxFlex="40px" fxLayoutGap="5px">
      <span id="userName">Subham Saha</span>
    </div>
    <div id="content" fxFlex fxLayout.xs="column" fxLayoutGap="10px">
      <div id="pieChartDiv" fxFlex="40" fxFlex.xs="250px">
        <mat-card>
          <app-chart></app-chart>
        </mat-card>
      </div>
      <div id="tableDiv" fxFlex="60" fxFlex.xs="250px">
        <mat-card>
          <app-table [flag]=completionStatus></app-table>
        </mat-card>
      </div>
    </div>
  </div>
</div>
